$redish: #F94545;
$blueish: #17BEBB;
$blackish: #0A0F0D;
$brownish: #251605;
$pinkish: #FFF9F9;
$navbar: #FFDFD8;

$transparent-blueish: rgba(23, 190, 187, .5);

body{
  font-family: 'Slabo 27px', serif, 'Roboto Slab', serif;
}
