@import 'defaults/colors';

body{
  font-family: 'Slabo 27px', serif, 'Roboto Slab', serif;
}

.display-teams{
  background-color: $redish;
  // border-radius: 1em;
  // width: 400px;
}

.race-breakdown{
  text-align: center;
  margin: 5em auto;
  width: 75%;
  border-radius: 0.3em;
}

.race-breakdown-title{
  text-align: center;
  background-color: $blueish;
  border-radius: 0.3em 0.3em 0 0;
  margin-bottom: -0.5em;
}

.race-breakdown-info{
  text-align: center;
  background-color: $transparent-blueish;
  border-radius: 0 0 0.3em 0.3em;
}

#search-bar-race-page{
  position: static;
  // text-align: center;
  margin: 0 auto;
}

.white-font{
  color: white;
}

.goldish-font{
  color: $goldish;
  margin-top: -.5em;
}

#right{
  float: right;
  padding: 5em;
  padding-left: 3em
}

#left{
  float: left;
  padding-left: 5em;
}
.test-find{
  border-style: solid;
  border-color: black;
}

.hello-test{
  position: fixed;
  width: 100%;
  background-color: green
}
.test-div-after-hello{
  padding-bottom: 200%;
  background-color: pink;
}

.map-registration{
  padding-left: 7em;
  position: fixed;
}

.RaceRegister{
  background-color: $redish;
  width: 125px;
}

.ready{
  text-align: center;
}
